beautifulsoup4==4.11.1
cchardet==2.1.7
certifi==2022.6.15
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.0.12
colorama==0.4.5
defusedxml==0.7.1
lxml==4.9.1
python-libnmap==0.7.3
requests
urllib3
xlrd
xlutils
xlwt
